xml/DeviceIds.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="ndlcom" type="deviceIdGroup" />

<xs:complexType name="deviceIdGroup" mixed="true">
  <xs:sequence>
    <xs:element name="device" type="device" maxOccurs="unbounded" />
  </xs:sequence>
  <xs:attribute name="project" type="xs:Name" />
</xs:complexType>

<xs:complexType name="device" mixed="true">
  <xs:attribute name="name" type="xs:Name" />
  <xs:attribute name="id" type="xs:integer" />
</xs:complexType>

</xs:schema>
